@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');

/*============================================Обнуляємо параметри============================================*/

/*обнуляє параметри*/
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/*міняє підрахунок ширини блока*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*прибираємо лінію обводки блоків*/
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

/*вирівнюють поведінку шрифтів і елементів для різних браузерів*/
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

/*просимо наслідувати сімейства шрифтів*/
input, button, textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
	background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

ul li {
  list-style-type: none;
}

ol li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

/*обнуляємо всі заголовки*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
/*====================================================================*/
/*font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/
/*=============================base styles=======================================*/
html{
	font-size: 10px;
}
body{
	font-family: 'Roboto', sans-serif;
	background: #FFFFFF;
}
.wrapper{
	/*
	min-width: 800px;
	max-width: 1400px;
	margin: 0 auto;
	*/
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

[class$="-container"]{
	min-width: 800px;
	max-width: 1400px;
	margin: 0 auto;
}

.font-tittle-style{
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 6.4rem;
	line-height: 7.2rem;
	color: #FFFFFF;
}
.black-colored-font{
	color: #111111;
}
.colored-dot{
	color: #FFBB00;
}
/*============================header styles========================================*/
.header {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
	background: #000000;
}
.header-content{
	width: 84%;
	margin: 0 auto;
	padding: 30px 0 30px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.logo-link{
	font-size: 36px;
	line-height: 32px;
	color: #FFFFFF;
}
.menu {
	margin-right: 5%;
}
.menu-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.menu-list-item {
	margin-left: 24px;
}
.menu-list-item:first-child {
	margin-left: 0px;
}

.list-item-link {
	font-size: 18px;
	line-height: 32px;
	color: #FFFFFF;
}

.list-item-link:hover{
	color: #F6AD09;
}
/*прижимаю футер до низу*/
.main {
	flex:1 1 auto;
}
/*============================Bicicletas feitas sob medida (custom-bicycle styles)========================================*/
.custom-bicycle {
	background: #000000;
}
.custom-bicycle-container-content {
	width: 84%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	column-gap: 30px;
}
.custom-bicycle-content {
	flex: 1 1 52%;
	display: flex;
	flex-direction: column;
	padding-top: 200px ;
}
.custom-bicycle-title {
	margin-bottom: 32px;
}
.custom-bicycle-text {
	font-size: 2.4rem;
	line-height: 3.6rem;
	color: #B2B2B2;
}
.custom-bicycle-btn {
	margin: 30px 0 100px 0;
}
.custom-bicycle-btn-link {
	display: inline-block;
	padding: 17px 30px;
	background: #F6AD09;
	border-radius: 5px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	color: #332200;
}
.custom-bicycle-btn-link:hover{
	border: 1px solid #FFFFFF;
	padding: 16px 29px;
}
/*робота з позиціонуванням картинки*/
.custom-bicycle-img {
	flex:1 1 48%;
	position: relative;
}
.bicycle-img-over-block{
	position: absolute;
	left: 0;
	top: 0;
	right: -3%;
	bottom: -15%;
}
.custom-bicycle-img img{
	width: 100%;
  height: 100%;
  object-fit: cover;
}
/*============================escolha a sua (choose-bicycle styles)========================================*/
.choose-bicycle {
	margin: 145px 0 190px 0;
}
.choose-bicycle-title {
	width: 84%;
	margin: 0 auto 43px;
}

.bicycle-cards-content {
	width: 95%;
	display: flex;
	margin: 0 auto;
	gap: 40px;
}
.bicycle-card {
	flex: 1 1 33.33%;
}
.bicycle-card-img {
	margin-bottom: 15px;
}
.bicycle-card-img img {
	width: 100%;
}
.bicycle-card-name {
	display: flex;
	align-items: center;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 3.2rem;
	line-height: 4.0rem;
	color: #111111;
}
.bicycle-card-name::before{
	content: "";
	display: inline-block;
	width: 22px;
	height: 10px;
	margin-right: 10px;
	background: #F6AD09;
}

.bicycle-card-cost {
	margin-top: 10px;
	padding-left:32px;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.4rem;
	color: #595959;
}

/*============================Tecnologia Avançada (bicycle-technology styles)========================================*/

.bicycle-technology {
	padding: 80px 0 95px 0;
	background: #111111;
}
.bicycle-technology-container{
	
}
.bicycle-technology-container-content {
	display: flex;
	width: 84%;
	margin: 0 auto;
}
.bicycle-technology-content {
	flex: 1 1 52%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 5%;
}
.bicycle-technology-subtitle {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 3.2rem;
	letter-spacing: 0.015em;
	text-transform: uppercase;
	color: #B2B2B2;
}
.bicycle-technology-title {
	margin: 20px 0 45px 0;
}
.bicycle-technology-text {
	font-size: 2.4rem;
	line-height: 3.6rem;
	color: #B2B2B2;	
}
.bicycle-technology-option {
	display: flex;
	flex-direction: column;
	margin: 30px 0 0 0;
}
.technology-option-title {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 3.6rem;
	color: #FFBB00;
}
.title-underline{
	border-bottom: 4px solid #FFBB00;
}
.technology-model-option {
	display: flex;
	justify-content: space-between;
	margin: 70px 0 0 0;
	gap: 40px;
}
.model-option {
}
.model-option-name {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 3.6rem;
	color: #FFFFFF;
}
.model-option-name::before{
	content: "";
	display: inline-block;
	width:22px;
	height: 10px;
	margin-right: 10px;
	background: #F6AD09;
}
.model-option-description {
	font-size: 16px;
	line-height: 2.4rem;
	color: #B2B2B2;
}
/*робота з позиціонуванням картинки*/
.bicycle-technology-img {
	flex: 1 1 43%;
	position: relative;
}
.technology-img-over-block{
	position: absolute;
	left: 0;
  top: -22%;
  right: -15%;
  bottom: -22%;
}
.bicycle-technology-img img{
	width: 100%;
  height: 100%;
  object-fit: cover;
	object-position: left;
}
/*============================nossos parceiros========================================*/
.partners {
	margin: 130px 0 110px 0;
}
.partners-title {
	width: 84%;
	margin: 0 auto 43px;
}
.partners-cards {
	width: 95%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	gap: 20px;
}
.partners-card {
	flex: 1 1 20%;
	padding: 40px;
	border: 2px solid #E0E0E0;
	text-align: center;
}
.partners-card img{
	max-width: 100%;
}
/*============================customer response ========================================*/
.customer-response {
	background: #FFBB00;
}
.customer-response-content {
	display: flex;
}
.customer-img {
	flex: 1 1 45%;
}
.customer-img img{
	width: 100%;
  height: 100%;
  object-fit: cover;
}
.customer-quote-content {
	flex: 1 1 55%;
	display: flex;
  align-items: flex-end;
}
.customer-quote{
	width: 70%;
  margin: 15% 37% 9% 10%;
}
.customer-quote-text {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 900;
	font-size: 3.6rem;
	line-height: 4.8rem;
	color: #332200;
	margin-bottom: 20px;
	position: relative;
}
/*робота з позиціонуванням кавичок*/
.customer-quote-text::before, .customer-quote-text::after{
	position:absolute;
	font-size: 5.5rem;
	color: #E4A30B;
}
.customer-quote-text::before{
	content:'“';
	left: -30px;
  top: 4px;
}
.customer-quote-text::after{
	content: "”";
	margin-top: 3rem;
}
.customer-quote-author {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 3.2rem;
	color: #664400;
}
/*============================seguros(bicycle-insurance styles)========================================*/
.bicycle-insurance {
	background: #161616;
}
.bicycle-insurance-container-content {
	display: flex;
	flex-direction: column;
	width: 84%;
	margin: 0 auto;
}
.bicycle-insurance-title {
	margin: 73px 0 73px 0;
}
.bicycle-insurance-option {
	display: flex;
	column-gap: 40px;
	justify-content: center;
	margin-bottom: 138px;
}
.insurance-package {
	display: flex;
	flex-direction: column;
	flex: 0 1 40%;
	padding: 28px;
	background: #000000;
	border-radius: 7px;
}
.insurance-package-hover{
	transition: all 1s;
}
.insurance-package-option {
	display: flex;
	justify-content: space-between;
}
.insurance-package-name {
	padding-left: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 3.6rem;
	line-height: 4.8rem;
	color: #9C9C9C;
}
.insurance-package-cost {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 3.6rem;
	line-height: 4.8rem;
	color: #FFFFFF;
}
.insurance-package-period{
	text-align: right;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1.6rem;
	color: #9C9C9C;
}
/*робота з адаптивністю списка і кнопки*/
.package-list-content{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.insurance-package-list {
	margin-top: 15px;
	/*проба*/
	flex: 1 1 auto;
}
.package-list-item {
	display: flex;
	align-items: center;
	margin-bottom: 18px;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.4rem;
	color: #FFFFFF;
}
.package-list-item:last-child{
	margin-bottom: 0;
}
.package-list-item::before{
	content: "";
	display: inline-block;
	width: 15px;
	height: 5px;
	margin-right: 5px;
	background: #F6AD09;
}
.insurance-package-signup {
	margin: -40px 0 80px 20px;
}
.package-signup-btn {
	padding: 15px 30px;
	background: #2E2E2E;
	border-radius: 5px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	color: #CCCCCC;
}

/*робота з hover при наведенні на блок*/
.insurance-package-hover:hover{
	-webkit-transform: scale(1,1.1);
  -ms-transform: scale(1,1.1);
  transform: scale(1,1.1);
}
.insurance-package-hover:hover .insurance-package-name{
	color: #FFBB00;
}

.insurance-package-hover:hover .package-signup-btn{
	border: 1px solid #E0E0E0 ;
	padding: 14px 29px;
}

/*============================footer styles ========================================*/
.footer {
	padding:55px 0 45px 0;
	background: #000000;
}
.footer-content {
	display: flex;
	column-gap: 40px;
	width: 84%;
	margin: 0 auto 55px;
}
.footer-logo {
	flex:1 1 30%;
}
.footer-contact {
	flex:1 1 30%;
}
.footer-contact-title, .footer-information-title {
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 3.2rem;
	letter-spacing: 0.015em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.footer-contact-list {
	margin-bottom: 20px;
}
.contact-list-item {
	font-size: 1.8rem;
	line-height: 3.2rem;
	letter-spacing: 0.015em;
	color: #B2B2B2;
}
.margin-item{
	margin-top: 32px;
}
.contact-item-link {
	color: #B2B2B2;
}
/*соціалки*/
.footer-contact-social-list{
	display: flex;
	align-items: center;
}
.contact-social-item{
	margin-right: 32px;
}
.contact-social-item:last-child{
	margin-right: 0;
}
.social-item-link img{
	width: 100%;
}

.footer-information {
	flex:1 1 30%;
}
.footer-information-list {
}
.information-list-item {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 3.6rem;
	letter-spacing: 0.015em;
	color: #B2B2B2;
}
.information-item-link {
	color: #B2B2B2;
}
.information-item-link:hover{
	color: #FFBB00;
}
.footer-copyright {
	width: 84%;
	margin: 0 auto;
	font-size: 1.8rem;
	line-height: 3.2rem;
	letter-spacing: 0.015em;
	color: #9C9C9C;
}
/*медіа запити, зменшення шрифту при зменшенні розміру екрана*/
@media(max-width: 1299.98px){
	html{
		font-size: 9px;
	}
}

@media(max-width: 1199.98px){
	html{
		font-size: 8px;
	}
	.bicycle-img-over-block{
		right: -3%;
		bottom: -10%;
	}
	.choose-bicycle {
		margin: 90px 0 130px 0;
	}
	.partners {
			margin: 90px 0 70px 0;
	}
	.bicycle-insurance-title {
    margin: 43px 0 43px 0;
	}
	.bicycle-insurance-option {
    margin-bottom: 78px;
}
}

@media(max-width: 949.98px){
	html{
		font-size: 7.5px;
	}
	.bicycle-img-over-block{
		right: -3%;
		bottom: -8%;
	}
	.choose-bicycle {
		margin: 80px 0 115px 0;
	}
	.technology-img-over-block{
		top: -18%;
		bottom: -18%;
	}	
	.partners {
		margin: 70px 0 70px 0;
}
}