
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*обнуляє параметри*/
* {
  margin: 0;
  border: 0;
  padding: 0;
}
select{
	appearance: none;
	-webkit-appearance: none;
  -moz-appearance: none;
}
/*міняємо підрахунок ширини блока*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*обновляємо базавові параметри для посилань і списка*/
a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

ul li {
  list-style-type: none;
}

ol li {
  list-style-type: none;
}

/*розмір шрифту для використання умовних одиниць*/
html{
	font-size: 10px;
}
/*================================main-maket-style==========================================*/

body{
  font-family: 'PT Sans', sans-serif;
  color: #202846;
}

.wrapper{
	width: 100%;
	margin: 0 auto;
	background: #DCDCDC;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*="__container"]{
  margin: 40px auto 90px;
}
.hidden{
	visibility: none;
}
/*================================header-style==========================================*/
.header {
	position:sticky;
	top: 0;
	width: 100%;
	background: #202846;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90px;
	z-index: 50;
}
.header_logo {
	flex: 1 1 30%;
}
.header-logo-link{
	margin-left:22%;
}
.header-logo-image{
	border-radius: 167px;
}

.nav-menu {
	display: flex;
	width: 55%;
}

.menu-list {
	display: flex;
	flex: 1 1 auto;
}

.menu-list-item {
	width: 15%;
	margin: 0px 5% 0px 0px;
	text-align: center;
	align-self: center;
}
.menu-list-item:last-child{
	margin: 0;
}

.list-item-link{
	font-style: normal;
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 3.1rem;
	color: #FFFFFF;
}
.list-item-link:hover{
	color: #AEAEE2;
}
.language-item {
	display: flex;
	flex: 1 1 15%;
	align-items: center;
	justify-content: center;
}
.language-image{
	margin-right: 10px;
}

.language-image img{
	width:100%;
}
.language-text {
	font-style: normal;
	font-weight: 700;
	font-size: 2.8rem;
	line-height: 3.6rem;
	color: #FFFFFF;
}

.language-text:hover{
	color: #AEAEE2;
}
/*================================header-style==========================================*/
.section-title{
	display: flex;
	align-items: center;
	background: #C6C6DC;
	min-height: 140px;
}
.section-title-text{
	margin-left: 12%;
	font-style: italic;
	font-weight: 400;
	font-size: 4.8rem;
	line-height: 6.2rem;
	color: #202846;
}
/*================================main-style==========================================*/
.main {
  flex: 1 1 auto;
}
/*================================ Booking styles ==========================================*/
.booking-content {
	width: 78%;
}
.booking-selector {
	position: relative;
	width: 100%;
	min-height: 73px;
	background-color: #E8E8E8;
	background-image:url('../img/arrow.png');
	background-position: calc(100% - 15px) calc(1em);
	background-repeat: no-repeat;
	outline: none;
	display: flex;
	text-align: center;
	font-style: normal;
	font-weight: 400;
	font-size: 2.8rem;
	line-height: 3.6rem;
	color: rgba(0, 0, 0, 0.61);
}


.booking-cards {
	margin: 56px 0 115px 0;
}
.booking-card {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	height: 300px;
	padding: 30px;
	margin:0 0 35px 0 ;
	background: #BDBDC6;
	transition: all .5s;
}

.booking-card:hover{
	background: #AEAEE2;
	box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}
.booking-card:hover .booking-card-button{
	background: #EF075B;
}
.booking-card:hover .booking-card-star{
	fill: #FFFF00;
}

.booking-card-image {
	flex: 1 1 40%;
	height: 240px;
	overflow: hidden;
}
.booking-card-image img{
	width:100%;
}
.booking-card-content {
	flex: 1 1 60%;
	padding: 0 3%;
	display: flex;
	flex-direction: column;
}
.booking-card-title {
	margin-bottom: 10px;
	font-style: italic;
	font-weight: 700;
	font-size: 3.6rem;
	line-height: 4.7rem;
	color: #353C57;
	border-bottom: 3px solid #FFFFFF;;
}
.booking-card-description {
	display: flex;
	align-items: center;
	background: #D7D7DD;
	font-style: normal;
	font-weight: 400;
	font-size: 2.2rem;
	line-height: 2.8rem;
	min-height: 184px;
	text-align: center;
	color: #202846;
	padding: 2%;
}

.booking-card-button {
	position: absolute;
	bottom: 10px;
  right: -50px;
	display: flex;
	background: #202846;
	border-radius: 50px;
	transition: all .5s;
}
.card-button-link {
	padding: 15px 40px;
	font-style: normal;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 3.1rem;
	color: #FFFFFF;
}
.booking-card-star {
	position: absolute;
	top: 17px;
  right: 17px;
	fill: #FFFFFF;
	transition: all .5s;
}
/*================================ User cabinet styles ==========================================*/
.user-content {
	width: 68%;
	display: flex;
	flex-direction: column;
}
.user-account-setting{
	display: flex;
	flex-direction: row;
	min-height: 500px;
	padding: 2% 5%;
	background: #BDBDC6;
}
.user-avatar {
	flex: 1 1 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 4.5%;
}
.user-avatar-image {
	margin-bottom: 40px;

}
.user-avatar-image img{
	width: 100%;
	border-radius: 100%;
}
.user-avatar-change-button,.user-avatar-setting-button {
	min-width: 250px;
	background: #484A54;
	border-radius: 50px;
	transition: all .5s;
}

.user-avatar-change-button{
	margin-bottom:20px;
}
.user-avatar-change-button:hover,.user-avatar-setting-button:hover {
	background: #69749B;
}
.user-button {
	display: inline-block;
	padding: 10px 45px;
	font-style: normal;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 3.1rem;
	color: #FFFFFF;
}
.user-setting {
	flex: 1 1 55%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
              
.setting-list-item {
	font-style: italic;
	font-weight: 700;
	font-size: 3.6rem;
	line-height: 4.7rem;
	display: flex;
	align-items: center;
	padding: 15px 0;
	color: #353C57;
	border-bottom: 3px solid #FFFFFF;
}
.setting-list-item:first-child{
	padding: 0 0 15px 0;
}
.setting-list-item:last-child {
	padding: 15px 0 0 0;
	border-bottom: 0;
}

.setting-info {
	padding-left: 10px;
	font-style: italic;
	font-weight: 400;
	font-size: 3.6rem;
	line-height: 4.7rem;
	display: flex;
	align-items: center;
	color: #353C57;
}
.user-sign-out{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.user-sign-out-button {
	margin-top: 40px;
	background: #484A54;
	border-radius: 50px;
	transition: all .5s;
}
.sign-out-button {
	display: inline-block;
	padding: 15px 60px;
	font-style: normal;
	font-weight: 400;
	font-size: 2.7rem;
	line-height: 3.5rem;
	color: #FFFFFF;
}
.user-sign-out-button:hover{
	background: #69749B;
}
/*================================ Contact styles ==========================================*/
.office-contact-content {
	width: 54%;
	display: flex;
	flex-direction: column;

}
.office-contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 50px;
}
.office-contact-title, .address-contact-title {
	padding-left: 15px;
	font-style: normal;
	font-weight: 400;
	font-size: 3.2rem;
	line-height: 4.1rem;
	text-align: start;
	color: #000000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-bottom: 3px solid #202846;
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.office-phone-number, .office-work-schedule, .office-email-link{
	margin-top: 10px;
}
.phone-number, .email-link, .work-schedule-day, .address-contact-description {
	font-style: normal;
	font-weight: 400;
	font-size: 3.0rem;
	line-height: 3.9rem;
	text-align: center;
	color: #000000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.office-location {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.address-map-container {
	flex: 0 1 50%;
	min-height:335px;
	position: relative;
	border: 3px solid rgba(0, 0, 0, 0.05);
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 40px;
	overflow: hidden;
}
.address-map-container iframe{
	position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.up-scroll-button{
	width: 101px;
	height: 101px;
	background: rgba(85, 87, 104, 0.62);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	position:fixed;
	bottom:10px;
	right: 55px;
	transition: all .5s;
	z-index: 51;
}
.up-scroll-button:hover{
	opacity: 0.9;
}
.up-scroll-button a{
	padding: 29px 50px;
}
/*================================ Footer styles ==========================================*/
.footer {
	display: flex;
	align-items: center;
	background: #202846;
	min-height: 90px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-content {
	margin-left: 5%;
	font-style: italic;
	font-weight: 400;
	font-size: 3.6rem;
	line-height: 4.7rem;
	color: #EEECF1;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
