/*обнуляє параметри*/
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/*міняє підрахунок ширини блока*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*прибираємо лінію обводки блоків*/
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

/*вирівнюють поведінку шрифтів і елементів для різних браузерів*/
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.2;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.commentblock {
	background:rgba(178, 226, 158, 0.494);
	width: 100%;
	min-height: 100vh;
}
.post{
	background-color: #eee;
	border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.post-title {
	display: flex;
	flex-direction: row;
	font-size: 25px;
	padding: 10px;
}
.postid {
	flex: 1 1 25%;
	color: blue;
	font-size: 20px;
	font-weight: 400;
}
.postname {
	flex: 1 1 75%;
	font-weight: 700;
	text-align: center;
}
.post-body {
	display: flex;
	flex-direction: row;
	font-size: 20px;
	
}
.post-userdata{
	flex: 1 1 25%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.post-body-id {
	flex: 1 1 33.33%;
	font-weight: 400;
	text-align: center;
}
.post-body-author {
	flex: 1 1 33.33%;
	font-weight: 700;
}
.post-body-email {
	flex: 1 1 33.33%;
	font-weight: 600;
}
.post-body-text {
	background:rgba(250, 247, 103, 0.494);
	flex: 1 1 75%;
	padding: 10px;
	font-weight: 400;
}