@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');

/*============================================Обнуляємо параметри============================================*/

/*обнуляє параметри*/
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/*міняє підрахунок ширини блока*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*прибираємо лінію обводки блоків*/
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

/*вирівнюють поведінку шрифтів і елементів для різних браузерів*/
html, body {
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

/*просимо наслідувати сімейства шрифтів*/
input, button, textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
	background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

ul li {
  list-style-type: none;
}

ol li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

/*обнуляємо всі заголовки*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body{
	font-family: 'Roboto', sans-serif;
	background: #d9f1f3;
}
.wrapper{
	min-width: 800px;
	margin: 1% auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	align-items: center;
}

.header{
	width: 800px;
	height: 200px;
	border: 2px solid red;
}
.main{
	display: flex;
	flex-direction: row;
}
.navbar{
	width: 100px;
	height: 400px;
	border: 2px solid orange;
}
.section{
	width: 700px;
	height: 400px;
	border: 2px solid orange;
}
.section p{
	margin: 10px 0 0 5px;
}
.section b{
	padding-right: 10px;
}
.section .avr{
	margin-top: 20px;
	background: rgba(188, 219, 97, 0.42);
}
.footer{
	width: 800px;
	height: 200px;
	border: 2px solid gray;
}