@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/*============================================Обнуляємо параметри============================================*/

/*обнуляє параметри*/
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/*міняє підрахунок ширини блока*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*прибираємо лінію обводки блоків*/
:focus, :active {
  outline: none;
}

/*вирівнюють поведінку шрифтів і елементів для різних браузерів*/
html, body {
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

body{
	font-family: 'Roboto', sans-serif;
	background: #d9f1f3;
}
div{
	bg
}
div p{
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	margin: 15px;
	text-align: center;
	background: rgba(13, 22, 144, 0.725);
	color: whitesmoke;
}

div p:first-child{
	margin-top: 50px;
}