@charset "UTF-8";
/*============================================Підключаємо шрифт============================================*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

/*============================================Обнуляємо параметри============================================*/

/*обнуляє параметри*/
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/*міняє підрахунок ширини блока*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*прибираємо лінію обводки блоків*/
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

/*вирівнюють поведінку шрифтів і елементів для різних браузерів*/
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

/*просимо наслідувати сімейства шрифтів*/
input, button, textarea {
  font-family: inherit;
	background: transparent;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

ul li {
  list-style-type: none;
}

ol li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

/*обнуляємо всі заголовки*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
/*====================================================================================================*/
html{
	font-size: 10px;
}
body{
	font-family: 'Space Grotesk', sans-serif;
	background: linear-gradient(90deg, #3E718E 0%, #64969B 100%);
}
.wrapper {
	display: flex;
	align-items: center;
	min-height: 100%;
	overflow: hidden;
}
.wrapper-content{
	position: relative;
	margin: 0 auto;
	width: 70vw;
	background:#FFF;
}
.header {
	position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 15px 32px;
}

.logo {
	font-style: normal;
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 1;
	background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.menu {
	display: none;
}
.manu-list {
	display: flex;
	flex-direction: row;
}
.menu-list-item {
	margin-right: 25px;
}
.menu-list-item:last-child {
	margin-right: 0;
}
.list-item-link {
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 2.4rem;
	color: #24445B;
	transition: all 0.5s;
}
.list-item-link:hover{
	text-decoration: underline;
}
.main {
	display: flex;
	flex-direction: row;
	margin-top: 64px;
}
.contact-form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 56%;
}
.form-title {
	font-weight: 700;
	font-size: 2.0rem;
	line-height: 3.6rem;
	color: #000000;
	}

.form-content {
	width: 64%;
	display: flex;
	flex-direction: column;
	margin-bottom: 35px;
}

[class$="-field"]{
	width: 100%;
	display: flex;
  flex-direction: column;
	margin-bottom: 10px;
}

[class$="-label"]{
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #000000;
}

[class$="-input"]{
	padding: 3px 0 3px 10px;
	color: #CCCCCC;
	border: 1px solid #CCCCCC;
	box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
	border-radius: 4px;
}

[class$="-input"]::placeholder{
	font-size: 1.2rem;
	line-height: 1.6rem;
	font-weight: 400;
	color: #CCCCCC;
}

.password-contain-rules {
	margin-top: 5px;
}

[class$="-contain"]{
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
	color: #A8A8A8;
}

.location-field {
	margin-bottom: 90px;
}

.optional-location-label {
	padding-left: 10px;
	font-size: 1.2rem;
	line-height: 1.6rem;
	color: #A8A8A8;
}
.location-selector {
	padding: 3.5px 0;
	font-size: 1.2rem;
	line-height: 1.6rem;
	color: #CCCCCC;
	border: 1px solid #CCCCCC;
	box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
	border-radius: 4px;
	 /* Removes the default <select> styling */
	 background: inherit;
	 -webkit-appearance: none;
	 -moz-appearance: none;
	 appearance: none;
}
.sign-up-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #27485D;
	border: 1px solid #284A5E;
	box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
	border-radius: 4px;
}
.sign-up-btn {
	width: 100%;
	padding: 5px 0;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #FFFFFF;
}
.user-login-container {
	display: flex;
  justify-content: center;
	margin-top: 10px;
}
.user-ready-login {
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #C4C4C4;
}
.user-login-link {
	padding-left: 10px;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	text-decoration-line: underline;
	color: #476D73;
}
.quote-container {
	flex: 1 1 44%;
	display: flex;
	align-items: center;
	background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
	box-shadow: 0px 0px 10px 9px #4E7577;
	margin-top: -64px;
}
.quote-content {
	padding: 0 23% 0 18%;
}
.quote-text {
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 6.0rem;
	color: #FFFFFF;
	text-shadow: 2px 2px rgba(255, 255, 255, 0.1);
	opacity: 0.8;
}
.quote-author{
	font-style: normal;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #FFFFFF;
}

.quote-author span{
	padding-right: 5px;
}

@media(max-width: 1749.98px){
	.quote-content {
		padding: 0 18% 0 13%;
	}
}
@media(max-width: 1499.98px){
	.wrapper-content{
		width: 75vw;
	}
	.quote-content {
		padding: 0 15% 0 10%;
	}
	
}
@media(max-width: 1249.98px){
	.quote-content {
		padding: 0 13% 0 8%;
	}
	.quote-text {
		font-size: 3.8rem;
    line-height: 4.75rem;
	}
}
@media(max-width: 1049.98px){
	.wrapper-content{
		width: 90vw;
	}
}

@media(max-width: 767.98px){
	.wrapper{
		align-items: normal;
	}
	.wrapper-content{
		width: 100vw;
	}
	.quote-content {
		padding: 0 7% 0 5%;
	}
	.quote-text {
		font-size: 3.0rem;
    line-height: 3.75rem;
	}
}

@media(max-width: 767.98px){
	.wrapper{
		align-items: normal;
	}
	
	.wrapper-content{
		width: 100vw;
	}

	.header-container {
		padding: 48px 32px;
	}

	.menu {
		display: flex;
	}
		.main {
		margin-top: 136px;
	}

	.form-title {
		margin-bottom: 40px;
		font-size: 2.0rem;
		color: #24445B;
	}
	.contact-form-container {
		align-items: flex-start;
		flex-basis: 100%;
		padding: 0 32px;
	}
	.form-content {
		width: 100%;
	}

	[class$="-field"]{
		width: 100%;
		margin-bottom: 24px;
	}
	
	[class$="-label"]{
			font-size: 1.4rem;
	}
	
	[class$="-input"]{
		padding: 11px 0 11px 15px;
	}

	[class$="-contain"]{
		font-size: 12px;
		color: #CCCCCC;
	}

	.location-field {
		margin-bottom: 32px;
	}
	
	.optional-location-label {
		padding-left: 12px;
		color: #C4C4C4;
	}
	.location-selector {
		padding: 11.5px 0 11.5px 15px;
	} 

	.sign-up-btn {
		padding: 8px 0;
	}
	.user-login-container {
		margin-top: 24px;
	}

	.quote-container{
		display: none;
	}
}
