@keyframes side{
	to{
		transform: translateX(0);
	}
}

@keyframes clockwise {
	from {
			transform: rotate(0deg);
	}
	to {
			transform: rotate(360deg);
	}
}

@keyframes anim-one-services-option{
	0% {
		left: 0;
		top: 0;
	}
	25% {
		left: 50%;
		top:0
	}
	50% {
		left: 50%;
		top: 50%;
	}
	75% {
		left: 0;
		top: 50%;
	}
	100% {
		left: 0;
		top: 0;
	}
}


@keyframes anim-two-services-option{
	0% {
		left: 50%;
		top: 0;
	}
	25% {
		left: 50%;
		top: 50%;
	}
	50% {
		left: 0;
		top: 50%;
	}
	75% {
		left: 0;
		top: 0;
	}
	100% {
		left: 50%;
		top: 0;
	}
}


@keyframes anim-three-services-option{
	0% {
		left: 0;
		top: 50%;	
	}
	25% {
		left: 0;
		top: 0;
	}
	50% {
		left: 50%;
		top: 0;
	}
	75% {
		left: 50%;
		top: 50%;
	}
	100% {
		left: 0;
		top: 50%;
	}
}

@keyframes anim-four-services-option{
	0% {
		left: 50%;
		top: 50%;		
	}
	25% {
		left: 0;
		top: 50%;
	}
	50% {
		left: 0;
		top: 0;
	}
	75% {
		left: 50%;
		top: 0;
	}
	100% {
		left: 50%;
		top: 50%;
	}
}