@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,600;0,700;1,700&family=Volkhov&display=swap');
@import url('./animation.css');

/*============================================Обнуляємо параметри============================================*/

/*обнуляє параметри*/
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/*міняє підрахунок ширини блока*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*прибираємо лінію обводки блоків*/
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

/*вирівнюють поведінку шрифтів і елементів для різних браузерів*/
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

/*просимо наслідувати сімейства шрифтів*/
input, button, textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
	background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

ul li {
  list-style-type: none;
}

ol li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

/*обнуляємо всі заголовки*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*=============================base styles=======================================*/
:root{
	--list-item-size: 4.2rem;
	--main-fs: 3.6rem;
	--main-lh: 4.4rem;
}
html{
	font-size: 10px;
}
body{
	font-family: 'Rosario', sans-serif;
	background: #FFFFFF;
}

[class$="-img"]{
	width: 100%;
	height: 100%;
}

.view-display {
	min-height: calc(100vh - (2*var(--list-item-size) +  var(--main-lh)));
	/*min-height: 81.5vh;*/
	/*border: 5px solid red;*/
	/*padding-top: 18.5vh;*/
}
.view-display:first-of-type {
	min-height: calc(100vh - (2*var(--list-item-size) +  var(--main-lh)));
}
.wrapper-container{
	margin-top: calc(2*var(--list-item-size) +  var(--main-lh));
}
/*============================ sticky header container========================================*/
.header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 99999;
}
.header-container {
	display: flex;
	flex-direction: row;
}
.header-logo {
	flex: 1 1 15%;
	display: flex;
	justify-content: center;
	background: #FFFBFB;
}
.header-logo-img {
	width: 100%;
}
.menu {
	background: #000000;
	flex: 1 1 86.75%;
	display: flex;
  justify-content: flex-end;
}
.menu-list {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.menu-list-item {
	margin-left: 5.0rem;
	padding: var(--list-item-size) 0;
}
.menu-list-item:last-child {
	padding-right: 2.5rem;
}
.menu-list-item:first-child {
	margin-left: 0;
}
.menu-list-item-link {
	display: flex;
  align-self: center;
	font-style: italic;
	font-weight: 700;
	font-size: var(--main-fs);
	line-height: var(--main-lh);
	color: #FFFCFC;
}
.menu-list-item-link:hover{
	text-decoration: underline;
}

/*=========================Gallery====================================================*/

.gallery-display {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.gallery-display-container {
	display: flex;
	padding: 1% 2% 3.5%;
	column-gap: 5%;
	margin-top: 0;
	/*align-items: center;*/
}
.left-gallery, .right-gallery {
	display: flex;
	flex: 1 1 20%;
	flex-direction: column;
  justify-content: center;
}

.left-gallery{
	transform: translateX(-100vh);
	overflow: hidden;
	animation: side 3s linear forwards;
	animation-delay: 2s;
}
.right-gallery{
	transform: translateX(100vh);
	overflow: hidden;
	animation: side 3s linear forwards;
	animation-delay: 2s;
}
.center-left-gallery{
	transform: translateX(-100vh);
	overflow: hidden;
	animation: side 3s cubic-bezier(.99,.26,.23,.65) forwards;
}
.center-right-gallery{
	transform: translateX(100vh);
	overflow: hidden;
	animation: side 3s cubic-bezier(.99,.26,.23,.65) forwards;
}

.center-gallery {
	display: flex;
	flex: 1 1 50%;
	column-gap: 20px;
}
.center-left-gallery, .center-right-gallery {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	animation-duration: 3s;
}
.center-left-gallery {
	flex: 1 1 47%;
}
.left-top-gallery {
	flex: 1 1 48%;
}
.left-bottom-gallery {
	flex: 1 1 48%;
}
.center-right-gallery {
	flex: 1 1 47%;
}
.right-top-gallery {
	flex: 1 1 48%;
}
.right-bottom-gallery {
	flex: 1 1 48%;
}

/*==========Gallery Images============*/

.gallery-left-img, .gallery-right-img{
	border-radius: 40px;
}
.left-top-gallery-img, .left-bottom-gallery-img, .right-top-gallery-img, .right-bottom-gallery-img {
	border-radius: 30px;
}

/*=========================Services====================================================*/
.services-display {
	display: flex;
}
.services-display-container {
	display: flex;
	width: 100%;
}
.services-main-content {
	min-height: calc(100vh - (2*var(--list-item-size) +  var(--main-lh)));
	display: flex;
	width: 100%;
	gap: 3%;
	margin: 1% 0;
}
.services-cards{
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 50%;
	position: relative;
}
.services-card {
	position: absolute;
	width: 42%;
	text-align: center;
}
.one-services-option{
	left: 0;
	top: 0;
	animation: 15s anim-one-services-option ease infinite;
}

.two-services-option{
	left: 50%;
	top: 0;
	animation: 15s anim-two-services-option ease infinite;
}

.three-services-option{
	left: 0;
	top: 50%;
	animation: 15s anim-three-services-option ease infinite;
}

.four-services-option{
	left: 50%;
	top: 50%;	
	animation: 15s anim-four-services-option ease infinite;
}
.services-card-photo{
	width: 90%;
  margin-bottom: 4%;
}
.services-card-photo img:hover{
	animation: clockwise 3s linear infinite;
}

.services-card-title {
	font-style: italic;
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 5.8rem;
	color: #000000;
}
.services-secondary-block {
	flex: 1 1 50%;
	margin-top: calc((2*var(--list-item-size) +  var(--main-lh)) * -1);
}
.secondary-block-img {
	object-fit: cover;
	object-position: center;
}

/*=========================Team====================================================*/

.team-display, .team-display-container {
	display: flex;
	flex-direction: column;
}
.team-display-container {
	row-gap: 50px;
	padding: 2% 5%;
}
.team-container-title {
	font-weight: 700;
	font-size: 9.6rem;
	line-height: 11.6rem;
	text-align: center;
	color: #000000;
}
.team-worker-content {
	display: flex;
	column-gap: 40px;
}
.team-worker-card {
	flex: 1 1 20%;
	display: flex;
	flex-direction: column;
	position: relative;
	transition: all 0.3s ease-out;;
}
.worker-card-photo {
	display: flex;
	height: 100%;
}
.worker-photo-img {
	border-radius: 40px;
}
.worker-card-title{
	position: absolute;
	left:0;
	top: 80%;
	width: 100%;
	height: 20%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(163, 83, 10, 0.7);
	border-radius: 0 0 40px 40px;
}

.team-worker-card:hover .worker-card-title{
	display: flex;
}
.team-worker-content:hover .team-worker-card{
	filter:brightness(0.5);
}
.team-worker-card:hover{
	filter:brightness(1) !important;
}
.card-title-name {
	font-family: 'Volkhov', serif;
	font-weight: 400;
	font-size: 48px;
	line-height: 62px;
	color: #FFFAFA;
}

/*=========================contact us====================================================*/

.contact-display, .contact-wrapper {
	display: flex;
	flex-direction: column;
}
.contact-display{}

.contact-wrapper{
	min-height: calc(100vh - calc(2*var(--list-item-size) +  var(--main-lh)));
	margin-left: 7.5%;
	margin-right: 7.5%;
	justify-content: space-between;
}
.contact-get-information {
	display: flex;
	padding-top: 2.5%;
	column-gap: 30px;
}
.contant-message-form {
	flex: 1 1 53%;
	display: flex;
	flex-direction: column;
}
.contant-message-form-title{
	font-style: italic;
	font-weight: 700;
	font-size: 6.4rem;
	line-height: 7.8rem;
	text-align: center;
	color: #000000;
}

.contant-message-form-body{
	margin-top: 30px;
}
.contant-message-form-body form{
	background: #E5E5E5;
	padding: 30px;
	display: flex;
	flex-direction: column;
	row-gap: 35px;
}
.form-input-field {
	display: flex;
	flex-direction: row;
	column-gap: 4.9%;
}
.form-name-input {
	flex: 1 1 45%;
}
.form-input-name, .form-input-email {
	width: 100%;
	padding: 20px 0 20px 20px;
	font-style: normal;
	font-weight: 700;
	font-size: var(--main-fs);
	line-height: var(--main-lh);
}
.form-input-name::placeholder, .form-input-email::placeholder, .textarea-message-input::placeholder{
	color: rgba(0, 0, 0, 0.5);
}
.form-email-input {
	flex: 1 1 55%;
}
.textarea-message-input {
	resize: none;
	width: 100%;
	min-height: 210px;
	padding: 0 0 0 20px;
	font-style: normal;
	font-weight: 700;
	font-size: var(--main-fs);
	line-height: var(--main-lh);
}
.contact-direction-map {
	flex: 1 1 45%;
	position: relative;
}
.contact-direction-map iframe{
	position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
	z-index: 2;
}

/*===============contact information================*/

.contact-company-content {
	margin: 4% 0 1.5% 0;
	display: flex;
	flex-direction: row;
	column-gap: 4%;
	align-items: center;
	text-align: center;
}
.contact-company-data{
	flex: 1 1 35%;
}
.contact-company-data, .contact-company-schedule, .contact-company-social {
	font-style: italic;
	font-weight: 600;
	font-size: 3.0rem;
	line-height: 3.6rem;
	color: #000000;
}

.company-data-list {
}
.data-list-item {
}
.data-list-item-title {
	font-style: normal;
	font-weight: 700;
	padding-right: 10px ;
}
.data-list-item-link {
}
.contact-company-schedule {
	flex: 1 1 32%;
}
.company-schedule-title {
	font-style: normal;
	font-weight: 700;
	font-size: var(--main-fs);
	line-height: var(--main-lh);
	margin-bottom: 35px;
}
.company-schedule-list {
}
.schedule-list-item {
}
.contact-company-social {
	flex: 1 1 26%;
	display: flex;
  flex-direction: column;
  align-items: center;
}
.company-social-title {
	font-style: normal;
	font-weight: 700;
	margin-bottom: 10px;
}
.company-social-list {
	text-align: left;
}
.social-list-item {
	display: flex;

}
.data-list-item-link, .social-list-item-link {
	color: #000000;
}
.social-list-item-link{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.list-item-link-icon {
	display: inline-block;
	min-width: 36px;
	min-height: 36px;
	margin-right: 15px;
}
.instagram-icon{
	background-image: url('../img/contact/insta.png');
	background-repeat: no-repeat;
	background-position: center;
	
}
.fb-icon{
	background-image: url('../img/contact/facebook.png');
	background-repeat: no-repeat;
	background-position: center;
}
.twitter-icon{
	background-image: url('../img/contact/twitter.png');
	background-repeat: no-repeat;
	background-position: center;
}


/*Розширення > 992px
Все як на макеті, але якщо розширення буде більшим ніж 1620px, то мають бути бокові відступи. 
*/
@media (min-width: 1619.98px){
	.view-display {
		margin: 0 1.5%;
	}
}
@media (min-width: 1620px) and (max-width: 1789.98px){
	.services-card-title {
    font-size: 4.3rem;
    line-height: 5.2rem;
	}
}
@media (min-width: 1380px) and (max-width: 1619.98px){
	.services-card-title {
    font-size: 3.6rem;
    line-height: 4.4rem;
	}
}

@media (min-width: 992px) and (max-width: 1379.99px){
	html{
		font-size: 8.5px;
	}
	.header-logo {
		flex: 1 1 20%;
	}
	.menu-list-item {
    margin-left: 4rem;
	}
	.services-card-title {
    font-size: 3.2rem;
    line-height: 3.8rem;
	}
	.card-title-name {
		font-size: 35px;
		line-height: 42px;
		color: #FFFAFA;
	}

	.contact-wrapper {
    margin-left: 5%;
    margin-right: 5%;
	}
	.contact-get-information {
    column-gap: 20px;
	}
	.contant-message-form {
    flex: 1 1 51%;
	}
	.contant-message-form-body form {
    row-gap: 25px;
	}
	.contact-direction-map {
    flex: 1 1 48%;
	}

}

/*Розширення < 992px
Gallery
Робимо 3 рядки по 2 картинки ліві картинки виїжджають з лівої сторони, а праві з правої.
Services
картинку перукаря робимо першою та з нової строки
Залишаємо анімацію кружків з текстом
Team
2 співробітники на одній строці при наведені на зображення плавно з'являється ім'я члена команди 
Contact Us
Першою показується контакти потім мапа */

@media (max-width: 991.98px){
	html{
		font-size: 6px;
	}
	/*========================header=========================*/
	
	.header-logo {
		flex: 1 1 20%;
	}
	.menu {
		flex: 1 1 80%;
	}
	/*=========================Gallery=============*/
	.gallery-display-container {
		flex-wrap: wrap;
		column-gap: 5%;
	}
	.left-gallery, .right-gallery {
		flex: 1 1 40%;
		order:-1;
		animation-delay: 0ms;
	}
	.center-gallery {
		column-gap: 5%;
		margin-top: 5%;
	}

	/*=========================Services=============*/
	.services-display-container {
    padding-left: 0;
	}
	.services-main-content {
		display: flex;
		flex-direction: column;
		margin: 1%;
		gap:10px;
	}
	.services-cards{
		min-height: calc(100vw);
	}
	.services-card {
		position: absolute;
		width: 40%;
		text-align: center;
	}
	.services-secondary-block {
		margin-top: 0;
		order:-1;
	}
	.services-card-title {
		font-style: italic;
		font-weight: 700;
		font-size: 4.8rem;
		line-height: 5.8rem;
		color: #000000;
	}
/*=========================Team============================*/

	.team-worker-content {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
	.team-worker-card {
		flex: 1 1 35%;
		transition: all 0.9s linear;
	}

/*=========================contact us=====================*/

.contact-wrapper {
	min-height: calc(100vw - calc(2*var(--list-item-size) + var(--main-lh)));
	display: flex;
	flex-direction: column-reverse;
}
.contact-wrapper{
	margin: 0 4% 2%;

}
.contact-get-information {
	display: flex;
	flex-direction: column;
	padding-top: 2.5%;
	column-gap: 35px;
}
.contant-message-form-body{
	margin: 5% 0;
}
.contact-direction-map {
	min-height: calc(60vw);
	position: relative;
}
.contact-direction-map iframe{
	position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
	z-index: 2;
}
/*===============contact information================*/
.contact-company-content {
	margin: 2% 0;
	column-gap: 2%;
	align-items: start;
}
.contact-company-data, .contact-company-schedule, .contact-company-social {
	font-size: 2.7rem;
	line-height: 3.24rem;
}
.contact-company-schedule {
	flex: 1 1 35%;
}
.list-item-link-icon {
	min-width: 30px;
	min-height: 30px;
	margin-right: 5px;
}
}

/*Розширення < 768px
Gallery
Кожна картинка починається з нової строки з'являються одна з лівої  друга з правої сторони і т.д 
Services
Залишаємо анімацію кружків з текстом та прибираємо картинку перукаря 
Team
Кожна картинка починається з нової строки при натиску на зображення плавно з'являється ім'я члена команди 
Contact Us
Першою показується карта потім контакти 
*/
@media (max-width: 767.98px){

	html{
		font-size: 5px;
	}
	/*header for phone*/
	.header {
		position: sticky;
		top:0;
		left: 0;
    z-index: 999;
	}
	.header-container {
		display: flex;
		flex-direction: row;
	}
	.menu {
		justify-content: end;
	}
	.menu-list {
		flex-wrap: wrap;
	}
	.menu-list-item {
		margin-left: 1rem;
		padding: calc(var(--list-item-size) / 2) 0;
	}
	.menu-list-item:first-child {
		padding-left: 0.5rem;
	}

	.menu-list-item:last-child {
		padding-right: 2rem;
	}

/*=========================Gallery=================================*/

	.gallery-display {
	}

	.gallery-display-container {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		flex-wrap: nowrap;
    column-gap: 0;
	}
	.left-gallery, .right-gallery {
		order: 0;
	}
	.left-gallery, .left-bottom-gallery, .right-bottom-gallery{
		transform: translateX(-100vh);
		overflow: hidden;
		animation: side 3s linear forwards;
	}
	.left-gallery{
		animation-delay: 0.5s;
	}
	.left-bottom-gallery{
		animation-delay: 1s;
	}
	.right-bottom-gallery{
		animation-delay: 1.5s;
	}
	.right-gallery, .left-top-gallery, .right-top-gallery{
		transform: translateX(100vh);
		overflow: hidden;
		animation: side 3s linear forwards;
	}
	.left-top-gallery{
		animation-delay: 1s;
	}
	.right-top-gallery{
		animation-delay: 1.5s;
	}
	.right-gallery{
		animation-delay: 2s;
	}
	.center-gallery {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		margin-top: 0;
	}
	.center-left-gallery, .center-right-gallery {
		row-gap: 10px;
	}
/*=========================Services=================================*/

	.services-display-container {
		padding-left: 0;
	}
	.services-main-content {
		margin: 0 1%;
	}
	.services-card {
		width: 50%;
	}
	.services-secondary-block{
		display: none;
	}

	/*=========================Team=========================*/

	.team-display-container {
		row-gap: 20px;
		padding: 1%;
	}
	.team-container-title {
		font-size: 6.0rem;
		line-height: 7.2rem;
	}
	.team-worker-content {
		flex-direction: column;
		flex-wrap: nowrap;
		row-gap: 10px;
	}
	.team-worker-card {
		transition: all 0.9s linear;
	}

	/*=========================Team=========================*/

	.contact-wrapper{
		margin: calc(2*var(--list-item-size) + var(--main-lh)) 1.5% 0;
		min-height: calc(100hv - calc(2*var(--list-item-size) + var(--main-lh)));
		display: flex;
		flex-direction: column;
	}
	.contact-get-information {
		min-height: calc((100vh - calc(2*var(--list-item-size) + var(--main-lh)))) / 2;
		flex-direction: column-reverse;
		padding-top: 0;
		row-gap: 10px;
		column-gap: 0;
	}
	.contant-message-form {
		display: flex;
		flex-direction: column;
	}

	.contant-message-form-body{
		margin-top: 15px;
	}
	.contant-message-form-body form{
		background: #E5E5E5;
		padding: 15px;
		row-gap: 15px;
	}
	.form-input-field {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}
	.form-input-name, .form-input-email {
		width: 100%;
		padding: 10px 0 10px 10px;
	}
	.textarea-message-input {
		min-height: 100px;
	}
	.contact-direction-map {
		min-height: calc(100vw);
	}

	/*===============contact information================*/

	.contact-company-content {
		margin: 4% 0 1.5% 0;
		flex-direction: column;
		row-gap: 10px;
		column-gap: 0;
		align-items: center;
	}
	.company-social-list {
		display: flex;
		column-gap: 5px;
	}
	.list-item-link-icon {
		margin-right: 10px;
	}

}
@media (max-width: 489.98px){
	.header-logo{
		flex: 1 1 30%;
	}
}