@charset 'UTF-8';

/*============================================Обнуляємо параметри============================================*/
/*обнуляє параметри*/
* {margin: 0; border: 0; padding: 0;}

/*міняє підрахунок ширини блока*/
*, *:before, *:after {-webkit-box-sizing: border-box; box-sizing: border-box;}
/*прибираємо лінію обводки блоків*/
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
/*вирівнюють поведінку шрифтів і елементів для різних браузерів*/
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
/*просимо наслідувати сімейства шрифтів*/
input, button, textarea {font-family: inherit;}
input::ms-clear {display: none;}
button {cursor: pointer; background: transparent;}

button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul, ol {list-style-type: none;}
ul li {list-style-type: none;}
ol li {list-style-type: none;}
img {vertical-align: top;}
/*обнуляємо всі заголовки*/
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}
/*==========constant============*/
$blue: #3675B0;
$red: #E13535;
$green: #29A71E;
$black: #000000;
$white: #FFFFFF;
/*==========mixin============*/
@mixin font-base {
	font-size: 1.4rem;
	line-height: 1.6rem;
}

@mixin list-item {
	margin-left: 2.2rem;
	margin-bottom: 0.5rem;
	list-style-type: disc;
}
/*=============================base styles==================================*/
html{
	font-size: 17.5px;
}
body{
	background: #FFB084;
	font-family: 'Work Sans', sans-serif;
	font-style: normal;
	color: $black;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	margin: 0 auto;
}
.grid-container {
	display: grid;
	width: 80vw;
	/*height: 80vh;*/
	grid-template-columns: 0.7fr repeat(2, 0.6fr);
	grid-template-rows: repeat(4, 0.75fr) 0px;
	gap: 1.4rem 2.2rem;
	margin: 2rem auto 0;
}
.grid-item {
	background: $white;
	border-radius: 20px;
}
.grid-item-content{
	margin: 1.5rem 2.5rem;
}
.title {
	font-weight: 700;
	@include font-base;
	margin-bottom: 1rem;
}
/*=============================user-info styles==================================*/
.user-info {
	grid-column: 1;
  grid-row: 1/4;
	display: flex;
	flex-direction: column;
	box-shadow: 7px 7px 0px $black;
		&__name {
			font-weight: 700;
			font-size: 2.4rem;
			line-height: 2.8rem;
			text-align: center;
		}
		&__list-content {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__avatar {
			width: 10rem;
			height: 10rem;
			margin: 1.5rem auto;
			background-image: url('../img/avatar.svg'); 
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			border-radius: 100%;
			border: 1px solid #EB996B;
		}
		
		&__list li:nth-child(1){
			margin-right: 2.0rem;
		}

		&__list li:nth-child(1), li:nth-child(2){
			display: inline-block;
		}
}
.info-list {
		&__item {
			font-size: 1.2rem;
			line-height: 1.4rem;
			margin-bottom: 1.2rem;
		}
		&__item:last-child {
			margin-bottom: 0;
		}
}
.item {

		&__list-title {
			display: inline-block;
			padding-right: 1.0rem;
			font-weight: 600;
		}
}
/*=============================biography styles==================================*/
.biography {
	grid-column: 2/4;
  grid-row: 1/2;
	box-shadow: 7px 7px 0px $black;
		&__title {
			color: $black;
		}

		&__text {
			@include font-base;
		}
}

/*=============================goals styles==================================*/
.goals {
	grid-column: 2;
  grid-row: 2/3;
	box-shadow: 7px 7px 0px $green;
		&__title {
			color: $green;
		}

		&__list {
			list-style-type: disc;
			@include font-base;
		}
}
.goal-list {

		&__item {
			@include list-item;
		}
}
/*=============================frustrations styles==================================*/
.frustrations {
	grid-column: 3;
  grid-row: 2/4;
	box-shadow: 7px 7px 0px $red;
		&__title {
			color: $red;
		}

		&__list {
			@include font-base;
		}
}
.frustration-list {

		&__item {
			@include list-item;
		}
}
/*=============================dream-companies styles==================================*/
.dream-companies {
	grid-column: 2;
  grid-row: 3/5;
	box-shadow: 7px 7px 0px $blue;
		&__title {
			color: $blue;
		}

		&__list {
			@include font-base;
		}
}
.companies-list {

		&__item {
			@include list-item;
		}
}
/*=============================personality styles==================================*/
.personality {
	grid-column: 3;
  grid-row: 4/5;
	box-shadow: 7px 7px 0px $black;
		&__title {
			color: $black;
		}

		&__hashtag-text {
			@include font-base;
		}
}
/*=============================life-phrase styles==================================*/
.life-phrase {
	grid-column: 1;
  grid-row: 4/5;
	box-shadow: 7px 7px 0px $black;
	display: flex;
	align-items: center;
		&__text {
			font-weight: 700;
			@include font-base;
		}
		&__text::before, &__text::after{
			font-family: 'Work Sans';
			font-weight: inherit;
			@include font-base;
			color: $black;
		}
		&__text::before{
			content:'“';
    /* left: 1.9rem; */
    /* top: 1.4rem; */
		margin-left: -0.7rem;
		}
		&__text::after{
			content: "”";
		}
}

@media (min-width:1919.98px) {
	html{
		font-size: 20px;
	}
}
@media (min-width:1535px) and (max-width:1699.98px) {
	html{
		font-size: 16.5px;
	}
}
@media (min-width:1365.98px) and (max-width:1535px) {
	html{
		font-size: 14.5px;
	}
}

@media (min-width:1023.98px) and (max-width:1365.98px) {
	html{
		font-size: 11.0px;
	}
}

@media (min-width:799.98px) and (max-width:1023.98px) {
	html{
		font-size: 8.7px;
	}
	.user-info__name {
    font-size: 2.2rem;
    line-height: 2.6rem;
	}
}

@media (min-width:599.98px) and (max-width:799px) {
	html{
		font-size: 9.5px;
	}
	.grid-container {
		display: flex;
		flex-direction: column;
	}
	.user-info{
		order:-2;

		&__avatar {
			width: 15rem;
			height: 15rem;
		}
		&__list li:nth-child(1){
			margin-right: 0rem;
		}

		&__list li:nth-child(1), li:nth-child(2){
			display: block;
		}
	}
	.info-list {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
			&__item {
				text-align: center;
				margin-bottom: 0;
			}
	}
	.item {
			&__list-title {
					display: block;
					text-align: center;
					padding-right: 0;
			}
	}

	.life-phrase{
		order:-1;
	}
	.life-phrase__text{
		text-align: center;
	}

}

@media (max-width:599px) {
	html{
		font-size: 6.5px;
	}
	.grid-container {
		display: flex;
		flex-direction: column;
	}

	.user-info{
		order:-2;
		
		&__avatar {
			width: 15rem;
			height: 15rem;
		}

		&__list-content{
			align-items: flex-start;
		}
		&__list li:nth-child(1){
			margin-right: 0rem;
		}

		&__list li:nth-child(1), li:nth-child(2){
			display: inherit;
		}
	}
	.info-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 1rem;
			&__item {
				flex: 1 1 auto;
				margin-bottom: 1rem;
			}
	}
	.item {
			&__list-title {
					display: inline-block;
					text-align: center;
					padding-right: 0;
			}
	}

	.life-phrase{
		order:-1;
	}
	.life-phrase__text{
		text-align: center;
	}

}