@charset "UTF-8";
/*============================================Обнуляємо параметри============================================*/
/*обнуляє параметри*/
* {
	margin: 0;
	border: 0;
	padding: 0;
}

/*міняє підрахунок ширини блока*/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*прибираємо лінію обводки блоків*/
:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

/*вирівнюють поведінку шрифтів і елементів для різних браузерів*/
html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}

/*просимо наслідувати сімейства шрифтів*/
input, button, textarea {
	font-family: inherit;
}

input::ms-clear {
	display: none;
}

button {
	cursor: pointer;
	background: transparent;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul, ol {
	list-style-type: none;
}

ul li {
	list-style-type: none;
}

ol li {
	list-style-type: none;
}

img {
	vertical-align: top;
}

/*обнуляємо всі заголовки*/
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

/*==========constant============*/
/*==========mixin============*/
/*=============================base styles==================================*/
html {
	font-size: 17.5px;
}

body {
	background: #FFB084;
	font-family: "Work Sans", sans-serif;
	font-style: normal;
	color: #000000;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.grid-container {
	display: -ms-grid;
	display: grid;
	width: 80vw;
	/*height: 80vh;*/
	-ms-grid-columns: 0.7fr 2.2rem 0.6fr 2.2rem 0.6fr;
	grid-template-columns: 0.7fr repeat(2, 0.6fr);
	-ms-grid-rows: 0.75fr 1.4rem 0.75fr 1.4rem 0.75fr 1.4rem 0.75fr 1.4rem 0px;
	grid-template-rows: repeat(4, 0.75fr) 0px;
	gap: 1.4rem 2.2rem;
	margin: 2rem auto 0;
}

.grid-container > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.grid-container > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.grid-container > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}

.grid-container > *:nth-child(4) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

.grid-container > *:nth-child(5) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}

.grid-container > *:nth-child(6) {
	-ms-grid-row: 3;
	-ms-grid-column: 5;
}

.grid-container > *:nth-child(7) {
	-ms-grid-row: 5;
	-ms-grid-column: 1;
}

.grid-container > *:nth-child(8) {
	-ms-grid-row: 5;
	-ms-grid-column: 3;
}

.grid-container > *:nth-child(9) {
	-ms-grid-row: 5;
	-ms-grid-column: 5;
}

.grid-container > *:nth-child(10) {
	-ms-grid-row: 7;
	-ms-grid-column: 1;
}

.grid-container > *:nth-child(11) {
	-ms-grid-row: 7;
	-ms-grid-column: 3;
}

.grid-container > *:nth-child(12) {
	-ms-grid-row: 7;
	-ms-grid-column: 5;
}

.grid-container > *:nth-child(13) {
	-ms-grid-row: 9;
	-ms-grid-column: 1;
}

.grid-container > *:nth-child(14) {
	-ms-grid-row: 9;
	-ms-grid-column: 3;
}

.grid-container > *:nth-child(15) {
	-ms-grid-row: 9;
	-ms-grid-column: 5;
}

.grid-item {
	background: #FFFFFF;
	border-radius: 20px;
}

.grid-item-content {
	margin: 1.5rem 2.5rem;
}

.title {
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.6rem;
	margin-bottom: 1rem;
}

/*=============================user-info styles==================================*/
.user-info {
	-ms-grid-column: 1;
	grid-column: 1;
	-ms-grid-row: 1;
	-ms-grid-row-span: 3;
	grid-row: 1/4;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-shadow: 7px 7px 0px #000000;
	        box-shadow: 7px 7px 0px #000000;
}
.user-info__name {
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 2.8rem;
	text-align: center;
}
.user-info__list-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.user-info__avatar {
	width: 10rem;
	height: 10rem;
	margin: 1.5rem auto;
	background-image: url("../img/avatar.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 100%;
	border: 1px solid #EB996B;
}
.user-info__list li:nth-child(1) {
	margin-right: 2rem;
}
.user-info__list li:nth-child(1), .user-info li:nth-child(2) {
	display: inline-block;
}

.info-list__item {
	font-size: 1.2rem;
	line-height: 1.4rem;
	margin-bottom: 1.2rem;
}
.info-list__item:last-child {
	margin-bottom: 0;
}

.item__list-title {
	display: inline-block;
	padding-right: 1rem;
	font-weight: 600;
}

/*=============================biography styles==================================*/
.biography {
	-ms-grid-column: 2;
	-ms-grid-column-span: 2;
	grid-column: 2/4;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-row: 1/2;
	-webkit-box-shadow: 7px 7px 0px #000000;
	        box-shadow: 7px 7px 0px #000000;
}
.biography__title {
	color: #000000;
}
.biography__text {
	font-size: 1.4rem;
	line-height: 1.6rem;
}

/*=============================goals styles==================================*/
.goals {
	-ms-grid-column: 2;
	grid-column: 2;
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2/3;
	-webkit-box-shadow: 7px 7px 0px #29A71E;
	        box-shadow: 7px 7px 0px #29A71E;
}
.goals__title {
	color: #29A71E;
}
.goals__list {
	list-style-type: disc;
	font-size: 1.4rem;
	line-height: 1.6rem;
}

.goal-list__item {
	margin-left: 2.2rem;
	margin-bottom: 0.5rem;
	list-style-type: disc;
}

/*=============================frustrations styles==================================*/
.frustrations {
	-ms-grid-column: 3;
	grid-column: 3;
	-ms-grid-row: 2;
	-ms-grid-row-span: 2;
	grid-row: 2/4;
	-webkit-box-shadow: 7px 7px 0px #E13535;
	        box-shadow: 7px 7px 0px #E13535;
}
.frustrations__title {
	color: #E13535;
}
.frustrations__list {
	font-size: 1.4rem;
	line-height: 1.6rem;
}

.frustration-list__item {
	margin-left: 2.2rem;
	margin-bottom: 0.5rem;
	list-style-type: disc;
}

/*=============================dream-companies styles==================================*/
.dream-companies {
	-ms-grid-column: 2;
	grid-column: 2;
	-ms-grid-row: 3;
	-ms-grid-row-span: 2;
	grid-row: 3/5;
	-webkit-box-shadow: 7px 7px 0px #3675B0;
	        box-shadow: 7px 7px 0px #3675B0;
}
.dream-companies__title {
	color: #3675B0;
}
.dream-companies__list {
	font-size: 1.4rem;
	line-height: 1.6rem;
}

.companies-list__item {
	margin-left: 2.2rem;
	margin-bottom: 0.5rem;
	list-style-type: disc;
}

/*=============================personality styles==================================*/
.personality {
	-ms-grid-column: 3;
	grid-column: 3;
	-ms-grid-row: 4;
	-ms-grid-row-span: 1;
	grid-row: 4/5;
	-webkit-box-shadow: 7px 7px 0px #000000;
	        box-shadow: 7px 7px 0px #000000;
}
.personality__title {
	color: #000000;
}
.personality__hashtag-text {
	font-size: 1.4rem;
	line-height: 1.6rem;
}

/*=============================life-phrase styles==================================*/
.life-phrase {
	-ms-grid-column: 1;
	grid-column: 1;
	-ms-grid-row: 4;
	-ms-grid-row-span: 1;
	grid-row: 4/5;
	-webkit-box-shadow: 7px 7px 0px #000000;
	        box-shadow: 7px 7px 0px #000000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.life-phrase__text {
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 1.6rem;
}
.life-phrase__text::before, .life-phrase__text::after {
	font-family: "Work Sans";
	font-weight: inherit;
	font-size: 1.4rem;
	line-height: 1.6rem;
	color: #000000;
}
.life-phrase__text::before {
	content: "“";
	/* left: 1.9rem; */
	/* top: 1.4rem; */
	margin-left: -0.7rem;
}
.life-phrase__text::after {
	content: "”";
}

@media (min-width: 1919.98px) {
	html {
		font-size: 20px;
	}
}
@media (min-width: 1535px) and (max-width: 1699.98px) {
	html {
		font-size: 16.5px;
	}
}
@media (min-width: 1365.98px) and (max-width: 1535px) {
	html {
		font-size: 14.5px;
	}
}
@media (min-width: 1023.98px) and (max-width: 1365.98px) {
	html {
		font-size: 11px;
	}
}
@media (min-width: 799.98px) and (max-width: 1023.98px) {
	html {
		font-size: 8.7px;
	}

	.user-info__name {
		font-size: 2.2rem;
		line-height: 2.6rem;
	}
}
@media (min-width: 599.98px) and (max-width: 799px) {
	html {
		font-size: 9.5px;
	}

	.grid-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.user-info {
		-webkit-box-ordinal-group: -1;
		    -ms-flex-order: -2;
		        order: -2;
	}
	.user-info__avatar {
		width: 15rem;
		height: 15rem;
	}
	.user-info__list li:nth-child(1) {
		margin-right: 0rem;
	}
	.user-info__list li:nth-child(1), .user-info li:nth-child(2) {
		display: block;
	}

	.info-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		width: 100%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.info-list__item {
		text-align: center;
		margin-bottom: 0;
	}

	.item__list-title {
		display: block;
		text-align: center;
		padding-right: 0;
	}

	.life-phrase {
		-webkit-box-ordinal-group: 0;
		    -ms-flex-order: -1;
		        order: -1;
	}

	.life-phrase__text {
		text-align: center;
	}
}
@media (max-width: 599px) {
	html {
		font-size: 6.5px;
	}

	.grid-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.user-info {
		-webkit-box-ordinal-group: -1;
		    -ms-flex-order: -2;
		        order: -2;
	}
	.user-info__avatar {
		width: 15rem;
		height: 15rem;
	}
	.user-info__list-content {
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
	}
	.user-info__list li:nth-child(1) {
		margin-right: 0rem;
	}
	.user-info__list li:nth-child(1), .user-info li:nth-child(2) {
		display: inherit;
	}

	.info-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-column-gap: 1rem;
		   -moz-column-gap: 1rem;
		        column-gap: 1rem;
	}
	.info-list__item {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		        flex: 1 1 auto;
		margin-bottom: 1rem;
	}

	.item__list-title {
		display: inline-block;
		text-align: center;
		padding-right: 0;
	}

	.life-phrase {
		-webkit-box-ordinal-group: 0;
		    -ms-flex-order: -1;
		        order: -1;
	}

	.life-phrase__text {
		text-align: center;
	}
}